In [1]:
import xarray
import numpy as np
import pandas as pd
from functools import reduce

In [5]:
data = xarray.open_dataset("D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/land abandonment.nc", engine="netcdf4")
ds = data['land abandonment']

In [6]:
df = ds.isel(time=0).to_dataframe()
df1 = ds.isel(time=1).to_dataframe()
df2 = ds.isel(time=2).to_dataframe()
# df3 = ds.isel(time=3).to_dataframe()
# df4 = ds.isel(time=4).to_dataframe()
# df5 = ds.isel(time=5).to_dataframe()
# df6 = ds.isel(time=6).to_dataframe()
# df7 = ds.isel(time=7).to_dataframe()
# df8 = ds.isel(time=8).to_dataframe()
# df9 = ds.isel(time=9).to_dataframe()
# df10 = ds.isel(time=10).to_dataframe()

table = pd.pivot_table(df, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
table1 = pd.pivot_table(df1, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
table2 = pd.pivot_table(df2, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table3 = pd.pivot_table(df3, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table4 = pd.pivot_table(df4, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table5 = pd.pivot_table(df5, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table6 = pd.pivot_table(df6, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table7 = pd.pivot_table(df7, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table8 = pd.pivot_table(df8, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table9 = pd.pivot_table(df9, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)
# table10 = pd.pivot_table(df10, index=["origin", "country"], columns=['time'], aggfunc="sum", fill_value=0)

df_index = table.stack(level=0, future_stack=True ) # type: ignore
df_index1 = table1.stack(level=0, future_stack=True )# type: ignore
df_index2 = table2.stack(level=0, future_stack=True )# type: ignore
# df_index3 = table3.stack(level=0, future_stack=True )# type: ignore
# df_index4 = table4.stack(level=0, future_stack=True )# type: ignore
# df_index5 = table5.stack(level=0, future_stack=True )# type: ignore
# df_index6 = table6.stack(level=0, future_stack=True )# type: ignore
# df_index7 = table7.stack(level=0, future_stack=True )# type: ignore
# df_index8 = table8.stack(level=0, future_stack=True )# type: ignore
# df_index9 = table9.stack(level=0, future_stack=True )# type: ignore
# df_index10 = table10.stack(level=0, future_stack=True )# type: ignore

data = pd.to_datetime(df_index.columns, format='%d/%m/%Y %H.%M.%S')
df_index.columns = data.year
data1 = pd.to_datetime(df_index1.columns, format='%d/%m/%Y %H.%M.%S')
df_index1.columns = data1.year
data2 = pd.to_datetime(df_index2.columns, format='%d/%m/%Y %H.%M.%S')
df_index2.columns = data2.year
# data3 = pd.to_datetime(df_index3.columns, format='%d/%m/%Y %H.%M.%S')
# df_index3.columns = data3.year
# data4 = pd.to_datetime(df_index4.columns, format='%d/%m/%Y %H.%M.%S')
# df_index4.columns = data4.year
# data5 = pd.to_datetime(df_index5.columns, format='%d/%m/%Y %H.%M.%S')
# df_index5.columns = data5.year
# data6 = pd.to_datetime(df_index6.columns, format='%d/%m/%Y %H.%M.%S')
# df_index6.columns = data6.year
# data7 = pd.to_datetime(df_index7.columns, format='%d/%m/%Y %H.%M.%S')
# df_index7.columns = data7.year
# data8 = pd.to_datetime(df_index8.columns, format='%d/%m/%Y %H.%M.%S')
# df_index8.columns = data8.year
# data9 = pd.to_datetime(df_index9.columns, format='%d/%m/%Y %H.%M.%S')
# df_index9.columns = data9.year
# data10 = pd.to_datetime(# df_index10.columns, format='%d/%m/%Y %H.%M.%S')
# df_index10.columns = data10.year

df_index = df_index.reset_index()
df_index1 = df_index1.reset_index()
df_index2 = df_index2.reset_index()
# df_index3 = df_index3.reset_index()
# df_index4 = df_index4.reset_index()
# df_index5 = df_index5.reset_index()
# df_index6 = df_index6.reset_index()
# df_index7 = df_index7.reset_index()
# df_index8 = df_index8.reset_index()
# df_index9 = df_index9.reset_index()
# df_index10 = # df_index10.reset_index()

df_index.rename(columns={'level_2': "type"}, inplace=True)
df_index1.rename(columns={'level_2': "type"}, inplace=True)
df_index2.rename(columns={'level_2': "type"}, inplace=True)
# df_index3.rename(columns={'level_2': "type"}, inplace=True)
# df_index4.rename(columns={'level_2': "type"}, inplace=True)
# df_index5.rename(columns={'level_2': "type"}, inplace=True)
# df_index6.rename(columns={'level_2': "type"}, inplace=True)
# df_index7.rename(columns={'level_2': "type"}, inplace=True)
# df_index8.rename(columns={'level_2': "type"}, inplace=True)
# df_index9.rename(columns={'level_2': "type"}, inplace=True)
# df_index10.rename(columns={'level_2': "type"}, inplace=True)

# frames = [df_index, df_index1, df_index2, df_index3, df_index4, df_index5, df_index6, df_index7, df_index8, df_index9]
frames = [df_index, df_index1, df_index2]

# Gabungkan semua DataFrame secara berurutan menggunakan reduce()
new_df = reduce(lambda left, right: pd.merge(left, right, on=["origin", "country", "type"], how='outer'), frames)
new_df = new_df.replace([np.inf, -np.inf], np.nan)
new_df = new_df.fillna(0)
new_df

time origin         country              type          1975  1980  1985
0               Afghanistan  land abandonment      0.000000   0.0   0.0
1                   Albania  land abandonment      0.000000   0.0   0.0
2                   Algeria  land abandonment      0.000000   0.0   0.0
3            American Samoa  land abandonment      0.000000   0.0   0.0
4                   Andorra  land abandonment      0.000000   0.0   0.0
..      ...             ...               ...           ...   ...   ...
422    tuwd          Canada  land abandonment  32633.070312   0.0   0.0
423    tuwd         Iceland  land abandonment   2674.300049   0.0   0.0
424    tuwd           Italy  land abandonment  56373.609375   0.0   0.0
425    tuwd     Switzerland  land abandonment  76200.507812   0.0   0.0
426    tuwd           ocean  land abandonment   2653.656006   0.0   0.0

[427 rows x 6 columns]

In [7]:
new_df.to_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/land abandonment.xlsx", index=False)