In [1]:
import pandas as pd
import numpy as np

In [3]:
INPUT_FILE_PATH = "D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/natveg2crops_full.xlsx"
df = pd.read_excel(INPUT_FILE_PATH)
df.head()

,origin,country,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,0,Afghanistan,grass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,Albania,grass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Algeria,grass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,American Samoa,grass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,Andorra,grass,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df['type'].unique()

array(['grass', 'Wheat', 'Rice', 'Maize', 'Tropical cereals',
       'Other temperate cereals', 'Pulses', 'Soybeans',
       'Temperate oil crops', 'Tropical oil crops',
       'Temperate roots & tubers', 'Tropical roots & tubers',
       'Sugar crops', 'Oil & palm fruit', 'Vegetables & fruits',
       'Other non-food & luxury & spices', 'Plant based fibres'],
      dtype=object)

### filter

In [4]:
df_filter = df[df['origin'] != 0]
df_filter.head()

,origin,country,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
228,bore,Argentina,grass,11081.988281,0.0,0.0,0.000000,0.000000,0.0,0.0,7312.493164,0.0,0.0
229,bore,Azerbaijan,grass,0.000000,0.0,0.0,491.556976,0.000000,0.0,0.0,0.000000,0.0,0.0
230,bore,Bhutan,grass,0.000000,0.0,0.0,0.000000,4789.337402,0.0,0.0,0.000000,0.0,0.0
231,bore,Canada,grass,0.000000,0.0,0.0,2644.336182,59801.613281,0.0,0.0,0.000000,0.0,0.0
232,bore,Chile,grass,243251.453125,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

### groubpy berdasarkan country type

In [19]:
df_groupby = df_filter.groupby(['origin']).sum()
df_groupby.head()

,country,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
origin,,,,,,,,,,,,
bore,ArgentinaAzerbaijanBhutanCanadaChileChinaGeorg...,grassgrassgrassgrassgrassgrassgrassgrassgrassg...,3.936980e+06,5.362418e+06,6.549299e+06,6.146098e+06,5.339004e+06,9.452805e+05,2.270073e+04,7.364117e+03,5.031047e+05,3.611750e+03
ccfo,BhutanCanadaChinaFinlandGeorgiaIndiaKazakhstan...,grassgrassgrassgrassgrassgrassgrassgrassgrassg...,1.471954e+06,1.347022e+06,2.140583e+06,1.709265e+06,1.807947e+06,4.729632e+05,0.000000e+00,0.000000e+00,7.355896e+04,0.000000e+00
dsrt,AfghanistanArgentinaChinaEgyptEthiopiaIran (Is...,grassgrassgrassgrassgrassgrassgrassgrassgrassg...,1.063592e+06,1.061182e+05,2.980116e+05,5.991924e+05,2.789669e+06,1.068603e+05,1.018316e+05,3.691595e+05,7.364334e+05,1.131179e+06
rfab,BelarusBhutanCanadaCubaDominican RepublicIndon...,grassgrassgrassgrassgrassgrassgrassgrassgrassg...,0.000000e+00,2.838967e+04,3.757867e+05,5.833715e+05,1.871408e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.146425e+04,8.236921e+04
rftm,AngolaArgentinaArmeniaAustraliaAzerbaijanBangl...,grassgrassgrassgrassgrassgrassgrassgrassgrassg...,1.048049e+06,2.868776e+06,5.643566e+06,3.757621e+06,6.744324e+06,3.792580e+06,4.769054e+06,4.476754e+06,5.132036e+06,9.013920e+06

### drop columns country

In [21]:
df_index = df_groupby.reset_index()
df_drop = df_index.drop(columns=['country', 'type'])
df_drop.head()

,origin,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,bore,3.936980e+06,5.362418e+06,6.549299e+06,6.146098e+06,5.339004e+06,9.452805e+05,2.270073e+04,7.364117e+03,5.031047e+05,3.611750e+03
1,ccfo,1.471954e+06,1.347022e+06,2.140583e+06,1.709265e+06,1.807947e+06,4.729632e+05,0.000000e+00,0.000000e+00,7.355896e+04,0.000000e+00
2,dsrt,1.063592e+06,1.061182e+05,2.980116e+05,5.991924e+05,2.789669e+06,1.068603e+05,1.018316e+05,3.691595e+05,7.364334e+05,1.131179e+06
3,rfab,0.000000e+00,2.838967e+04,3.757867e+05,5.833715e+05,1.871408e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.146425e+04,8.236921e+04
4,rftm,1.048049e+06,2.868776e+06,5.643566e+06,3.757621e+06,6.744324e+06,3.792580e+06,4.769054e+06,4.476754e+06,5.132036e+06,9.013920e+06

In [22]:
df_drop.to_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/IMAGE PBL/SSP2/natveg2crops_origin.xlsx", index=False)