In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/FAO/luc_agri_prop_crop_AM1.xlsx")
df.head()

,country_name,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,Afghanistan,grass,0.001373,0.000105,0.001068,0.000016,0.000204,1.235389e-03,0.000007,0.000296,0.001582,2.222766e-04
1,Afghanistan,maize,0.000141,0.000104,0.000006,0.000117,0.000078,5.830169e-07,0.000006,0.000277,0.000033,0.000000e+00
2,Afghanistan,oil & palm fruit,0.000071,0.000206,0.000010,0.000124,0.000284,1.899163e-07,0.000629,0.000081,0.000144,0.000000e+00
3,Afghanistan,other non-food & luxury & spices,0.000072,0.000173,0.000017,0.000157,0.000309,2.846773e-06,0.000618,0.000069,0.000149,5.388171e-09
4,Afghanistan,other temperate cereals,0.000108,0.000118,0.000004,0.000101,0.000070,7.945947e-07,0.000005,0.000242,0.000037,0.000000e+00

In [29]:
columns = df.columns[2:].to_list()
df_pivot = df.pivot_table(columns='type', values=columns, aggfunc="sum")
df_pivot.head()

type,grass,maize,oil & palm fruit,other non-food & luxury & spices,other temperate cereals,plant based fibres,pulses,rice,soybeans,sugar crops,temperate oil crops,temperate roots & tubers,tropical cereals,tropical oil crops,tropical roots & tubers,vegetables & fruits,wheat
1975,1.621505,0.292491,0.027714,0.401965,0.504701,0.035019,0.264926,1.181528,0.176810,0.772625,0.068661,0.664913,0.325306,0.822708,0.817047,0.402293,0.851062
1980,1.026135,0.315228,0.049345,0.423800,4.873539,0.066853,0.270767,1.190321,0.167635,0.778281,0.025597,0.664888,0.331870,1.260184,0.766330,0.408892,0.835678
1985,1.180142,0.121473,0.009968,0.391185,0.022648,0.013251,0.270179,1.224290,0.159031,0.753300,3.181048,3.056129,0.344623,0.601108,0.743967,0.372066,0.881746
1990,0.979959,0.115693,0.084205,1.017805,0.010406,0.084640,0.260728,1.202711,0.148409,0.858059,2.886470,3.176184,0.338865,0.597195,0.822049,0.453576,0.858665
1995,1.002970,0.314375,0.019633,0.952383,0.044772,0.023882,0.299276,1.246440,0.184124,0.764779,3.006554,0.033174,0.374767,0.639186,0.777522,0.391208,0.914626

In [7]:
df_pivot = df_pivot.reset_index()

In [9]:
df_pivot = df_pivot.rename(columns={"index" : "time"})

In [10]:
df_pivot.to_excel("D:/kerja/asisten riset/code v/step 3/GbGlct/luc_agri_prop_crop_AM1_chart1.xlsx", index=False)

In [11]:
ccode_iso = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_REV.xlsx", sheet_name="Sheet3")

In [26]:
df_merge = pd.merge(left=df, right=ccode_iso, how="left", left_on="country_name", right_on="Country")
df_merge.head()

,country_name,type,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020,Country,Region,SubRegion
0,Afghanistan,grass,0.001373,0.000105,0.001068,0.000016,0.000204,1.235389e-03,0.000007,0.000296,0.001582,2.222766e-04,Afghanistan,Asia,South Asia
1,Afghanistan,maize,0.000141,0.000104,0.000006,0.000117,0.000078,5.830169e-07,0.000006,0.000277,0.000033,0.000000e+00,Afghanistan,Asia,South Asia
2,Afghanistan,oil & palm fruit,0.000071,0.000206,0.000010,0.000124,0.000284,1.899163e-07,0.000629,0.000081,0.000144,0.000000e+00,Afghanistan,Asia,South Asia
3,Afghanistan,other non-food & luxury & spices,0.000072,0.000173,0.000017,0.000157,0.000309,2.846773e-06,0.000618,0.000069,0.000149,5.388171e-09,Afghanistan,Asia,South Asia
4,Afghanistan,other temperate cereals,0.000108,0.000118,0.000004,0.000101,0.000070,7.945947e-07,0.000005,0.000242,0.000037,0.000000e+00,Afghanistan,Asia,South Asia

In [30]:
columns.append("SubRegion")
columns.append("type")
df_subregion = df_merge[columns]
df_merge_groupby = df_subregion.groupby('SubRegion').sum()
df_merge_groupby.head()

,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020,type
SubRegion,,,,,,,,,,,
East Asia,0.824334,1.241812,0.676433,0.686857,0.695975,2.054011,0.639389,0.513009,0.563346,0.495840,grassmaizeoil & palm fruitother non-food & lux...
Europe and Russia,0.129207,0.425688,0.298152,0.352896,0.459051,0.173684,0.134517,0.186135,0.107963,0.028667,grassmaizeoil & palm fruitother non-food & lux...
Latin America,3.813854,7.885457,6.886220,7.215719,6.222258,4.558812,3.059246,3.250531,3.427992,3.143155,grassmaizeoil & palm fruitother non-food & lux...
Middle East,0.037621,0.056631,0.038289,0.040704,0.052658,0.037327,0.044026,0.037448,0.028388,0.009599,grassmaizeoil & palm fruitother non-food & lux...
North America,0.109407,0.068343,0.108697,0.208030,0.170466,0.084550,0.092654,0.107924,0.078767,0.008512,grassmaizeoil & palm fruitother non-food & lux...

In [31]:
df_merge_groupby = df_merge_groupby.reset_index()
df_merge_groupby = df_merge_groupby.drop(columns=["type"])
df_merge_groupby.head()

,SubRegion,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,East Asia,0.824334,1.241812,0.676433,0.686857,0.695975,2.054011,0.639389,0.513009,0.563346,0.495840
1,Europe and Russia,0.129207,0.425688,0.298152,0.352896,0.459051,0.173684,0.134517,0.186135,0.107963,0.028667
2,Latin America,3.813854,7.885457,6.886220,7.215719,6.222258,4.558812,3.059246,3.250531,3.427992,3.143155
3,Middle East,0.037621,0.056631,0.038289,0.040704,0.052658,0.037327,0.044026,0.037448,0.028388,0.009599
4,North America,0.109407,0.068343,0.108697,0.208030,0.170466,0.084550,0.092654,0.107924,0.078767,0.008512

In [18]:
# columns2 = df_merge_groupby.columns[2:].to_list()

In [25]:
# df_merge_groupby_pivot = df_merge_groupby.pivot_table(columns='type', values=columns2, index="SubRegion", aggfunc="sum")
# df_merge_groupby_pivot.head()

                       1975                             \
type                  grass     maize oil & palm fruit
SubRegion
East Asia          0.083331  0.001738         0.001061
Europe and Russia  0.016071  0.002980         0.006924
Latin America      0.782839  0.010473         0.000251
Middle East        0.004302  0.001928         0.001509
North America      0.009281  0.004005         0.006373

                                                                            \
type              other non-food & luxury & spices other temperate cereals
SubRegion
East Asia                                 0.005834                0.092655
Europe and Russia                         0.008842                0.005522
Latin America                             0.233075                0.341993
Middle East                               0.001569                0.002398
North America                             0.004440                0.003663

                                                                    \
type              plant based fibres    pulses      rice  soybeans
SubRegion
East Asia                   0.001310  0.003372  0.307901  0.005191
Europe and Russia           0.009386  0.001070  0.003460  0.001132
Latin America               0.001073  0.007930  0.635005  0.029242
Middle East                 0.001392  0.000986  0.002489  0.001009
North America               0.004418  0.002140  0.005679  0.001796

                               ...      2020                        \
type              sugar crops  ...      rice  soybeans sugar crops
SubRegion                      ...
East Asia            0.001029  ...  0.000000  0.000000    0.000000
Europe and Russia    0.006482  ...  0.001492  0.000000    0.000000
Latin America        0.149286  ...  0.013015  0.000000    0.204006
Middle East          0.001682  ...  0.000415  0.000001    0.000425
North America        0.006799  ...  0.000000  0.000000    0.000000

                                                                \
type              temperate oil crops temperate roots & tubers
SubRegion
East Asia                    0.016732                      0.0
Europe and Russia            0.000030                      0.0
Latin America                0.165407                      0.0
Middle East                  0.000986                      0.0
North America                0.000000                      0.0

                                                                               \
type              tropical cereals tropical oil crops tropical roots & tubers
SubRegion
East Asia                 0.078249           0.004648                0.000000
Europe and Russia         0.004416           0.000048                0.000000
Latin America             0.260629           0.178707                0.149437
Middle East               0.001301           0.001216                0.000421
North America             0.000597           0.000000                0.000000


type              vegetables & fruits     wheat
SubRegion
East Asia                    0.005037  0.304314
Europe and Russia            0.001258  0.001340
Latin America                0.232338  0.627276
Middle East                  0.000315  0.000684
North America                0.000000  0.000000

[5 rows x 170 columns]

In [20]:
# df_merge_groupby_pivot_index = df_merge_groupby_pivot.stack(level=0, future_stack=True ) # type: ignore
# df_merge_groupby_pivot_index = df_merge_groupby_pivot_index.reset_index()

In [22]:
# df_merge_groupby_pivot_index.rename(columns={'level_1': "time"}, inplace=True)
# df_merge_groupby_pivot_index.head()

type,SubRegion,time,grass,maize,oil & palm fruit,other non-food & luxury & spices,other temperate cereals,plant based fibres,pulses,rice,soybeans,sugar crops,temperate oil crops,temperate roots & tubers,tropical cereals,tropical oil crops,tropical roots & tubers,vegetables & fruits,wheat
0,East Asia,1975,0.083331,0.001738,0.001061,0.005834,0.092655,0.001310,0.003372,0.307901,0.005191,0.001029,0.007601,0.004536,0.004931,0.218769,0.001029,0.001891,0.082155
1,East Asia,1980,0.078381,0.001067,0.000564,0.005791,0.101129,0.000860,0.001040,0.310545,0.001132,0.000589,0.001077,0.002910,0.002898,0.648593,0.001643,0.001568,0.082026
2,East Asia,1985,0.081519,0.004647,0.000275,0.005111,0.004087,0.000338,0.003237,0.316258,0.001037,0.000228,0.135984,0.000317,0.015342,0.012302,0.000285,0.002123,0.093344
3,East Asia,1990,0.077014,0.000811,0.004390,0.005138,0.000571,0.005497,0.000587,0.316151,0.000362,0.004267,0.136578,0.004435,0.016761,0.008922,0.004267,0.009896,0.091209
4,East Asia,1995,0.077986,0.012453,0.002239,0.002172,0.004005,0.001539,0.004978,0.322582,0.003299,0.002238,0.112674,0.002793,0.023314,0.010371,0.002359,0.006734,0.104239

In [23]:
# df_merge_groupby_pivot_groupby = df_merge_groupby_pivot_index.groupby("SubRegion").sum()
# df_merge_groupby_pivot_groupby.head()

In [89]:
# tahun = list(range(1975, 2025, 5))
# df_merge_groupby_pivot_groupby = df_merge_groupby_pivot_index.groupby("SubRegion").sum()
# df_merge_groupby_pivot_groupby = df_merge_groupby_pivot_groupby.drop(columns=["type"])
# df_merge_groupby_pivot_groupby = df_merge_groupby_pivot_groupby.reset_index()
# df_merge_groupby_pivot_groupby.head()

time,SubRegion,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,East Asia,70.815856,69.833397,1125.136949,2005.070517,1452.712414,1114.139551,499.160007,236.049049,290.953615,285.536115
1,Europe and Russia,163.102030,137.799981,133.374219,177.891342,189.637765,205.518637,217.352501,123.350713,148.914713,140.899868
2,Latin America,521.914832,436.668303,408.049831,1708.812800,1817.242511,1831.165576,1638.982399,889.557900,1190.443254,1196.228468
3,Middle East,40.524231,36.254861,35.288182,32.531414,33.213698,33.364455,35.234840,34.437943,34.741460,36.247658
4,North America,161.938875,131.627214,138.018707,156.686634,169.695496,185.423773,164.500314,118.535780,113.583392,105.516139

In [32]:
df_merge_groupby.to_excel("D:/kerja/asisten riset/code v/step 3/GbGlct/luc_agri_prop_crop_AM1_chart2.xlsx", index=False)