In [1]:
import numpy as np
import pandas as pd

In [41]:
# ccode_iso = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code.xlsx")
df_IMAGE = pd.read_excel("D:/kerja/asisten riset/code v/step 5/IMAGE Region.xlsx", sheet_name="Sheet1")
ccode_rev = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_REV2.xlsx", sheet_name="country")

In [42]:
ccode_rev = ccode_rev.loc[0:247]
missing_rows = ccode_rev.isna().any(axis=1)
ccode_rev.loc[missing_rows,'alpha-2'] = "NA"
ccode_rev.isna().sum()

ISO Country                 0
alpha-2                     0
alpha-3                     0
country-code                0
iso_3166-2                  0
Sub Region                  0
intermediate-region         0
region-code                 0
sub-region-code             0
intermediate-region-code    0
ISO Region                  0
dtype: int64

In [43]:
missing_rows = df_IMAGE.isna().any(axis=1)

In [44]:
df_IMAGE[missing_rows]

,Native Region Code,Native Region Name,Country,ISO Code
7,NaN,NaN,ANTARCTICA,ATA
8,NaN,NaN,ANTIGUA AND BARBUDA,ATG
28,NaN,NaN,BOUVET ISLAND,BVT
30,NaN,NaN,BRITISH INDIAN OCEAN TERRITORY,IOT
44,NaN,NaN,CHRISTMAS ISLAND,CXR
45,NaN,NaN,COCOS (KEELING) ISLANDS,CCK
76,NaN,NaN,FRENCH SOUTHERN TERRITORIES,ATF
84,NaN,NaN,GREENLAND,GRL
87,NaN,NaN,GUAM,GUM
93,NaN,NaN,HEARD ISLAND AND MCDONALD ISLANDS,HMD
94,NaN,NaN,HOLY SEE (VATICAN CITY STATE),VAT
137,NaN,NaN,MAYOTTE,MYT
160,NaN,NaN,NORTHERN MARIANA ISLANDS,MNP
198,NaN,NaN,SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS,SGS
203,NaN,NaN,SVALBARD AND JAN MAYEN ...,SJM
226,NaN,NaN,UNITED STATES MINOR OUTLYING ISLANDS,UMI

In [46]:
df = df_IMAGE.copy()
df = df.fillna("N/A")
df.isna().sum()

Native Region Code    0
Native Region Name    0
Country               0
ISO Code              0
dtype: int64

In [7]:
len(df['ISO Code'].unique())

239

In [8]:
len(ccode_rev['alpha-3'].unique())

249

In [48]:
ccode_merge = pd.merge(left=ccode_rev, right=df, left_on="alpha-3", right_on="ISO Code")
ccode_merge.isna().sum()

ISO Country                 0
alpha-2                     0
alpha-3                     0
country-code                0
iso_3166-2                  0
Sub Region                  0
intermediate-region         0
region-code                 0
sub-region-code             0
intermediate-region-code    0
ISO Region                  0
Native Region Code          0
Native Region Name          0
Country                     0
ISO Code                    0
dtype: int64

In [49]:
ccode_merge.columns

Index(['ISO Country', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2',
       'Sub Region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code', 'ISO Region', 'Native Region Code',
       'Native Region Name', 'Country', 'ISO Code'],
      dtype='object')

In [50]:
ccode_merge_columns = ccode_merge[['ISO Country', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2',
       'Sub Region', 'ISO Region', 'Native Region Code', 'Native Region Name']]
ccode_merge_columns.head()

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,Native Region Code,Native Region Name
0,Afghanistan,AF,AFG,4.0,ISO 3166-2:AF,South Asia,Asia,RSAS,Rest S. Asia
1,Albania,AL,ALB,8.0,ISO 3166-2:AL,Europe and Russia,Europe,CEU,C. Europe
2,Algeria,DZ,DZA,12.0,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
3,American Samoa,AS,ASM,16.0,ISO 3166-2:AS,Oceania,Oceania,OCE,Oceania
4,Andorra,AD,AND,20.0,ISO 3166-2:AD,Europe and Russia,Europe,WEU,W. Europe

In [51]:
ccode_merge_copy = ccode_merge_columns.copy()
ccode_merge_copy['country-code'] = ccode_merge_copy['country-code'].astype('int64')
ccode_merge_copy.head()

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,Native Region Code,Native Region Name
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,South Asia,Asia,RSAS,Rest S. Asia
1,Albania,AL,ALB,8,ISO 3166-2:AL,Europe and Russia,Europe,CEU,C. Europe
2,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
3,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Oceania,OCE,Oceania
4,Andorra,AD,AND,20,ISO 3166-2:AD,Europe and Russia,Europe,WEU,W. Europe

In [52]:
ccode_merge_copy_columns = ccode_merge_copy.rename(columns = {"Native Region Code": "IMAGE Region Code", "Native Region Name": "IMAGE Region Name"})
ccode_merge_copy_columns.head()

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,South Asia,Asia,RSAS,Rest S. Asia
1,Albania,AL,ALB,8,ISO 3166-2:AL,Europe and Russia,Europe,CEU,C. Europe
2,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Middle East,Africa,NAF,N. Africa
3,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Oceania,OCE,Oceania
4,Andorra,AD,AND,20,ISO 3166-2:AD,Europe and Russia,Europe,WEU,W. Europe

In [67]:
ccode_merge_copy_columns = ccode_merge_copy_columns.apply(lambda x: x.replace("N/A", "N|A"))
ccode_merge_copy_columns[missing_rows]

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
146,Namibia,NA,NAM,516,ISO 3166-2:NA,sub-Saharan Africa,Africa,RSAF,Rest S. Africa

In [65]:
ccode_merge_copy_columns.to_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_Final.xlsx", index=False)

In [66]:
df = pd.read_excel("D:/kerja/asisten riset/vol/milkunC/achaidir/LUH2 2022/ISO-3166-Country-Code_Final.xlsx")

missing_rows = df.isna().any(axis=1)
df[missing_rows]

,ISO Country,alpha-2,alpha-3,country-code,iso_3166-2,Sub Region,ISO Region,IMAGE Region Code,IMAGE Region Name
146,Namibia,NaN,NAM,516,ISO 3166-2:NA,sub-Saharan Africa,Africa,RSAF,Rest S. Africa