In [1]:
import pandas as pd
import numpy as np
import xarray
from functools import reduce

In [21]:
df1 = pd.read_excel("Z:/achaidir/IMAGE PBL/SSP2/Physical to Harvested Area GFRAC.xlsx")
#tunggu data dari hefri
df2 = pd.read_excel("X:/cadlan/stream_2/Step5/GFRACarea_32_concat.xlsx")
country_code = pd.read_excel("Z:/achaidir/Country Grids/ISO-3166-Country-Code_Final.xlsx")

In [22]:
df1[df1['NFBFC'] == 'Oil, palm fruit']

,t,NFBFC,Canada,USA,Mexico,Rest C. America,Brazil,Rest S. America,N. Africa,W. Africa,...,Korea,China,SE. Asia,Indonesia,Japan,Oceania,Rest S. Asia,Rest S. Africa,W. Europe,C. Europe
12,1970,"Oil, palm fruit",0.55016,0.484314,0.701835,0.763,0.994118,0.565741,0.713584,0.737045,...,1.156180,1.126891,0.741129,0.607258,0.882595,0.673786,0.618621,0.722772,0.732078,0.732078
33,1970,"Oil, palm fruit",0.52900,0.465686,0.701835,0.763,0.994118,0.565741,0.686139,0.652252,...,1.111712,1.126891,0.741129,0.607258,0.848649,0.673786,0.594828,0.722772,0.703922,0.703922
49,1971,"Oil, palm fruit",0.54704,0.489412,0.713761,0.752,0.996078,0.560185,0.714614,0.744171,...,1.155243,1.141176,0.746774,0.616129,0.842306,0.711650,0.622207,0.724752,0.735137,0.735137
70,1971,"Oil, palm fruit",0.52600,0.470588,0.713761,0.752,0.996078,0.560185,0.687129,0.658559,...,1.110811,1.141176,0.746774,0.616129,0.809910,0.711650,0.598276,0.724752,0.706863,0.706863
86,1972,"Oil, palm fruit",0.54496,0.505726,0.722936,0.751,1.001961,0.557407,0.722852,0.736027,...,1.156180,1.151260,0.749194,0.626613,0.805766,0.742718,0.624000,0.724752,0.741255,0.741255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,2098,"Oil, palm fruit",0.80500,0.587255,0.643119,0.686,1.248039,0.784259,0.791089,1.025225,...,0.902703,1.173949,0.896774,0.692742,0.574775,0.666019,0.787931,0.926733,0.691176,0.691176
4785,2099,"Oil, palm fruit",0.83720,0.610745,0.643119,0.686,1.248039,0.784259,0.822733,1.158504,...,0.938811,1.173949,0.896774,0.692742,0.597766,0.666019,0.819448,0.926733,0.718823,0.718823
4806,2099,"Oil, palm fruit",0.80500,0.587255,0.643119,0.686,1.248039,0.784259,0.791089,1.025225,...,0.902703,1.173949,0.896774,0.692742,0.574775,0.666019,0.787931,0.926733,0.691176,0.691176
4822,2100,"Oil, palm fruit",0.83720,0.610745,0.643119,0.686,1.248039,0.784259,0.822733,1.158504,...,0.938811,1.173949,0.896774,0.692742,0.597766,0.666019,0.819448,0.926733,0.718823,0.718823
4843,2100,"Oil, palm fruit",0.80500,0.587255,0.643119,0.686,1.248039,0.784259,0.791089,1.025225,...,0.902703,1.173949,0.896774,0.692742,0.574775,0.666019,0.787931,0.926733,0.691176,0.691176

In [24]:
df2[df2['type'].str.endswith('Oil & palm fruit')]

,country,type,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
5472,Afghanistan,IR Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5473,Albania,IR Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5474,Algeria,IR Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5475,American Samoa,IR Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5476,Andorra,IR Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,Western Sahara,RF Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5924,Yemen,RF Oil & palm fruit,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5925,Zambia,RF Oil & palm fruit,140.515106,174.575989,212.701721,213.629898,231.035690,246.931381,208.123520,196.864212,245.279953,217.606186,279.427734
5926,Zimbabwe,RF Oil & palm fruit,0.000000,16.743193,32.385677,40.139580,46.763378,52.391365,22.288658,0.128566,127.487953,121.582207,713.164001
5927,ocean,RF Oil & palm fruit,1983.484741,2329.271729,3584.020752,5165.523926,9910.854492,17446.107422,27992.238281,47004.968750,59467.832031,79712.304688,119606.906250

In [51]:
df2

,country,type,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,Afghanistan,IR Wheat,838613.000000,975131.750000,1.209997e+06,1.364075e+06,1.490041e+06,1.711056e+06,1.835866e+06,2.028884e+06,2.216140e+06,2.357842e+06,2.495066e+06
1,Albania,IR Wheat,5004.976074,6836.137207,8.224705e+03,9.827855e+03,1.049291e+04,1.048746e+04,1.047300e+04,1.045289e+04,1.042353e+04,1.039300e+04,1.039904e+04
2,Algeria,IR Wheat,108009.023438,144493.562500,1.532368e+05,1.720136e+05,2.029161e+05,2.570493e+05,2.854174e+05,3.491991e+05,3.850500e+05,4.317563e+05,4.694681e+05
3,American Samoa,IR Wheat,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,Andorra,IR Wheat,1.562500,1.720211,1.872601e+00,2.018561e+00,2.153708e+00,2.265817e+00,2.428203e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7291,Western Sahara,RF Plant based fibres,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
7292,Yemen,RF Plant based fibres,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.732303e+02
7293,Zambia,RF Plant based fibres,66301.523438,54903.863281,4.565151e+04,4.583370e+04,4.743268e+04,4.535219e+04,4.645397e+04,4.302968e+04,4.603788e+04,3.227138e+04,3.644327e+04
7294,Zimbabwe,RF Plant based fibres,75687.328125,63189.265625,5.387536e+04,5.389559e+04,5.688342e+04,5.344895e+04,5.517859e+04,4.345882e+04,6.023491e+04,4.276468e+04,5.177355e+04
7295,ocean,RF Plant based fibres,101474.203125,55303.960938,3.541336e+04,2.530447e+04,1.957849e+04,1.663612e+04,2.150492e+04,3.749021e+04,1.746453e+04,1.321975e+04,3.433367e+04

In [25]:
df1[(df1['t'] == 2020) & (df1['NFBFC'] == "Maize")]['China']

1852    1.385260
1873    1.502655
Name: China, dtype: float64

In [26]:
# df2 (pakai GFRACarea_32_full.xlsx)
df2[(df2['country'] == 'China') & ((df2['type'] == 'IR Maize') | (df2['type'] == 'RF Maize'))][2020]

952     17142376.0
1180     9618275.0
Name: 2020, dtype: float64

In [36]:
df1[(df1['t'] == 2020) & (df1['NFBFC'] == "Maize")]['China'].values

array([1.38526034, 1.50265527])

In [43]:
df2[(df2['country'] == 'China') & (df2['type'] == 'IR Maize')]

,country,type,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
952,China,IR Maize,6347512.0,6684073.0,7004106.5,7126156.0,7223879.5,7457850.5,7936508.0,9220093.0,12177471.0,16421505.0,17142376.0

In [39]:
sum(df1[(df1['t'] == 2020) & (df1['NFBFC'] == "Maize")]['China'].values * df2[(df2['country'] == 'China') & ((df2['type'] == 'IR Maize') | (df2['type'] == 'RF Maize'))][2020].values)

38199605.26213703

In [42]:
17142376.0*1.50265527

25759081.63672152

- GFRAC to excel sheet 32
- jadiin 1 sheet
- olah sama data Physical_area_harvested
- 32 jenis, jaddin 16 1 file excel
- 16 jenis jaddin 16 sheets 1 file excel
- jaddin 1 sheet 1 file excel
- komparasion sama fao area harvested

In [44]:
df1_copy = df1.copy()
df1_copy = df1_copy[~df1_copy['NFBFC'].str.contains("biofuel")]
df1_copy.loc[:, 'RF/IR'] = np.where(np.arange(4192) % 32 < 16, "RF", "IR")
df1_copy['NFBFC'] = df1_copy['NFBFC'].apply(lambda x: x.replace('and', '&').replace('Plant-based fibers', 'Plant based fibres').replace('Oil, palm fruit', 'Oil & palm fruit').replace('Other non-food, luxury, spices', 'Other non-food & luxury & spices').replace('Vegetables or fruits', 'Vegetables & fruits').replace('Sugar Crops', 'Sugar crops'))
df1_copy["NGFBFC"] = df1_copy['RF/IR'] + " " + df1_copy['NFBFC']
df1_copy = df1_copy.drop(columns=["NFBFC", "RF/IR"])
df1_copy = df1_copy.rename(columns={"t" : "time"})
df1_melt = df1_copy.melt(id_vars=['NGFBFC', 'time'], var_name='IMAGE Region Name', value_name='value')
df1_melt.head()

                       NGFBFC  time IMAGE Region Name    value
0                    RF Wheat  1970            Canada  0.52900
1                     RF Rice  1970            Canada  0.71415
2                    RF Maize  1970            Canada  0.52900
3         RF Tropical cereals  1970            Canada  0.57661
4  RF Other temperate cereals  1970            Canada  0.52900

In [45]:
df1_melt[df1_melt['NGFBFC'].str.endswith('Oil & palm fruit')]

                     NGFBFC  time IMAGE Region Name     value
12      RF Oil & palm fruit  1970            Canada  0.550160
28      IR Oil & palm fruit  1970            Canada  0.529000
44      RF Oil & palm fruit  1971            Canada  0.547040
60      IR Oil & palm fruit  1971            Canada  0.526000
76      RF Oil & palm fruit  1972            Canada  0.544960
...                     ...   ...               ...       ...
113116  IR Oil & palm fruit  2098         C. Europe  0.691176
113132  RF Oil & palm fruit  2099         C. Europe  0.718823
113148  IR Oil & palm fruit  2099         C. Europe  0.691176
113164  RF Oil & palm fruit  2100         C. Europe  0.718823
113180  IR Oil & palm fruit  2100         C. Europe  0.691176

[7074 rows x 4 columns]

In [46]:
df1_melt[(df1_melt['IMAGE Region Name'] == 'China') & ((df1_melt['NGFBFC'] == 'IR Maize') | (df1_melt['NGFBFC'] == 'RF Maize')) & (df1_melt['time'] == 2020)]

         NGFBFC  time IMAGE Region Name     value
77058  RF Maize  2020             China  1.385260
77074  IR Maize  2020             China  1.502655

#GFRAC

In [47]:
df2_copy = df2.copy()
df2_copy = df2_copy.rename(columns={"type" : "NGFBFC"})
df2_copy['NGFBFC'] = df2_copy['NGFBFC'].apply(lambda x: x.replace('and', '&').replace('Plant-based fibers', 'Plant based fibres').replace('Oil, palm fruit', 'Oil & palm fruit').replace('Othernon-food&luxury spices', 'Other non-food & luxury & spices').replace('Vegetables or fruits', 'Vegetables & fruits'))
df2_merge = pd.merge(left=df2_copy, right=country_code, left_on="country", right_on="ISO Country")

time = list(range(1970, 2025, 5)) 
df2_pivot = pd.pivot_table(data=df2_merge, values=time, index=['IMAGE Region Name', 'NGFBFC'], fill_value=0, aggfunc='sum')
df2_index = df2_pivot.reset_index()
df2_melt = df2_index.melt(id_vars=['IMAGE Region Name', 'NGFBFC'], var_name='time', value_name='value')
df2_melt.head()

  IMAGE Region Name                               NGFBFC  time         value
0            Brazil                             IR Maize  1970  41127.347656
1            Brazil                  IR Oil & palm fruit  1970      0.000000
2            Brazil  IR Other non-food & luxury & spices  1970  40161.667969
3            Brazil           IR Other temperate cereals  1970     96.430923
4            Brazil                IR Plant based fibres  1970   8184.255859

In [52]:
df2_melt[df2_melt['NGFBFC'].str.endswith('Oil & palm fruit')]

     IMAGE Region Name               NGFBFC  time         value
1               Brazil  IR Oil & palm fruit  1970  0.000000e+00
17              Brazil  RF Oil & palm fruit  1970  4.033385e+03
33           C. Europe  IR Oil & palm fruit  1970  0.000000e+00
49           C. Europe  RF Oil & palm fruit  1970  0.000000e+00
65              Canada  IR Oil & palm fruit  1970  0.000000e+00
...                ...                  ...   ...           ...
9073    Ukraine region  RF Oil & palm fruit  2020  0.000000e+00
9089         W. Africa  IR Oil & palm fruit  2020  2.836274e+03
9105         W. Africa  RF Oil & palm fruit  2020  4.477274e+06
9121         W. Europe  IR Oil & palm fruit  2020  0.000000e+00
9137         W. Europe  RF Oil & palm fruit  2020  0.000000e+00

[572 rows x 4 columns]

In [53]:
df2_melt[(df2_melt['IMAGE Region Name'] == 'China') & ((df2_melt['NGFBFC'] == 'IR Maize') | (df2_melt['NGFBFC'] == 'RF Maize')) & (df2_melt['time'] == 2020)]

     IMAGE Region Name    NGFBFC  time         value
8416             China  IR Maize  2020  1.729401e+07
8432             China  RF Maize  2020  9.639311e+06

In [50]:
df_copy = df2_melt.copy()

for region, time, ngfbfc in zip(df_copy["IMAGE Region Name"].to_list(), df_copy["time"].to_list(), df_copy["NGFBFC"].to_list()):
    try:
        data1 = df1_melt[(df1_melt['IMAGE Region Name'] == region) & (df1_melt['time'] == time) & (df1_melt['NGFBFC'] == ngfbfc)]['value'].to_numpy()
        data2 = df2_melt[(df2_melt['IMAGE Region Name'] == region) & (df2_melt['time'] == time) & (df2_melt['NGFBFC'] == ngfbfc)]['value'].to_numpy()
        if data1.size == 0:
            data1 = [0]
        if data2.size == 0: 
            data2 = [0]
        mask = df_copy[(df_copy['IMAGE Region Name'] == region) & (df_copy['time'] == time) & (df_copy['NGFBFC'] == ngfbfc)].index
        df_copy.loc[mask, 'value'] =  data1[0] * data2[0]
    except KeyError as e:
        print(f"Error: {e} for region {region}")

df_copy.head()

  IMAGE Region Name                               NGFBFC  time         value
0            Brazil                             IR Maize  1970  43747.408127
1            Brazil                  IR Oil & palm fruit  1970      0.000000
2            Brazil  IR Other non-food & luxury & spices  1970  39925.426468
3            Brazil           IR Other temperate cereals  1970     95.863691
4            Brazil                IR Plant based fibres  1970   8136.113912

In [54]:
df_copy[(df_copy['IMAGE Region Name'] == 'China') & ((df_copy['NGFBFC'] == 'IR Maize') | (df_copy['NGFBFC'] == 'RF Maize')) & (df_copy['time'] == 2020)]['value'].sum()

39339896.89798301

In [55]:
df_copy.to_csv("X:/cadlan/stream_2/Step5/GFRAC_Area_Harvested.csv", index=False)

In [56]:
import pandas as pd
df = pd.read_csv("X:/cadlan/stream_2/Step5/GFRAC_Area_Harvested.csv")
df

,IMAGE Region Name,NGFBFC,time,value
0,Brazil,IR Maize,1970,4.374741e+04
1,Brazil,IR Oil & palm fruit,1970,0.000000e+00
2,Brazil,IR Other non-food & luxury & spices,1970,3.992543e+04
3,Brazil,IR Other temperate cereals,1970,9.586369e+01
4,Brazil,IR Plant based fibres,1970,8.136114e+03
...,...,...,...,...
9147,W. Europe,RF Tropical cereals,2020,1.295435e+05
9148,W. Europe,RF Tropical oil crops,2020,2.199832e+03
9149,W. Europe,RF Tropical roots & tubers,2020,2.856995e+03
9150,W. Europe,RF Vegetables & fruits,2020,3.637296e+06
9151,W. Europe,RF Wheat,2020,1.684500e+07

In [58]:
df[df['NGFBFC'].str.endswith('Oil & palm fruit')]

     IMAGE Region Name               NGFBFC  time         value
1               Brazil  IR Oil & palm fruit  1970  0.000000e+00
17              Brazil  RF Oil & palm fruit  1970  4.009659e+03
33           C. Europe  IR Oil & palm fruit  1970  0.000000e+00
49           C. Europe  RF Oil & palm fruit  1970  0.000000e+00
65              Canada  IR Oil & palm fruit  1970  0.000000e+00
...                ...                  ...   ...           ...
9073    Ukraine region  RF Oil & palm fruit  2020  0.000000e+00
9089         W. Africa  IR Oil & palm fruit  2020  2.907820e+03
9105         W. Africa  RF Oil & palm fruit  2020  5.186942e+06
9121         W. Europe  IR Oil & palm fruit  2020  0.000000e+00
9137         W. Europe  RF Oil & palm fruit  2020  0.000000e+00

[572 rows x 4 columns]

In [59]:
df["NGFBFC"] = df["NGFBFC"].apply(lambda x: x.replace('IR ', '').replace('RF ', ''))
df_groupby = df.groupby(['IMAGE Region Name','NGFBFC', 'time']).sum()
df_index = df_groupby.reset_index()
df_index

     IMAGE Region Name NGFBFC  time         value
0               Brazil  Maize  1970  1.129294e+07
1               Brazil  Maize  1975  1.208552e+07
2               Brazil  Maize  1980  1.078206e+07
3               Brazil  Maize  1985  1.065404e+07
4               Brazil  Maize  1990  1.301961e+07
...                ...    ...   ...           ...
4571         W. Europe  Wheat  2000  1.779400e+07
4572         W. Europe  Wheat  2005  1.769292e+07
4573         W. Europe  Wheat  2010  1.770521e+07
4574         W. Europe  Wheat  2015  1.750669e+07
4575         W. Europe  Wheat  2020  1.742132e+07

[4576 rows x 4 columns]

In [61]:
df_index[(df_index['NGFBFC'] == "Oil & palm fruit") & (df_index['value'] == 0)]['IMAGE Region Name'].unique()

array(['C. Europe', 'Canada', 'India', 'Japan', 'Kazakhstan region',
       'Middle East', 'N. Africa', 'Russia', 'South Africa', 'Turkey',
       'USA', 'Ukraine region', 'W. Europe'], dtype=object)

In [62]:
df_index.to_csv("X:/cadlan/stream_2/Step5/GFRAC_Area_Harvested_combined.csv", index=False)

restrukstur dari row ke kolom utk tahunnya

In [64]:
df_restructur = df_index.copy()
df_restructur = pd.pivot_table(data=df_restructur, columns=["time"], index=["IMAGE Region Name", "NGFBFC"], values=['value'])
restructur_index = df_restructur.stack(level=0)
restructur_index = restructur_index.reset_index()
restructur_index = restructur_index.drop(columns=['level_2'])
restructur_index.head()

time,IMAGE Region Name,NGFBFC,1970,1975,1980,1985,1990,1995,2000,2005,2010,2015,2020
0,Brazil,Maize,1.129294e+07,1.208552e+07,1.078206e+07,1.065404e+07,1.301961e+07,1.577528e+07,1.404379e+07,1.608734e+07,1.743231e+07,2.131960e+07,2.274070e+07
1,Brazil,Oil & palm fruit,4.009659e+03,4.333419e+03,6.403056e+03,1.152320e+04,4.694840e+04,8.799718e+04,9.677204e+04,1.170354e+05,1.356238e+05,1.855929e+05,2.024777e+05
2,Brazil,Other non-food & luxury & spices,3.625030e+06,2.985681e+06,2.975351e+06,3.154535e+06,3.982282e+06,3.914501e+06,4.166487e+06,4.651657e+06,4.468522e+06,4.662900e+06,4.923515e+06
3,Brazil,Other temperate cereals,2.567597e+05,2.910977e+05,3.387016e+05,3.521733e+05,5.003372e+05,5.974096e+05,6.726426e+05,7.416639e+05,4.528868e+05,6.311191e+05,6.689114e+05
4,Brazil,Plant based fibres,5.154284e+06,4.720108e+06,3.779777e+06,2.942813e+06,2.411542e+06,1.403201e+06,1.202737e+06,1.656475e+06,1.769518e+06,1.652040e+06,1.789001e+06

In [65]:
restructur_index.to_csv("X:/cadlan/stream_2/Step5/GFRAC_Area_Harvested_combined_kolom.csv", index=False)